<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title></title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/css/element.min.css" />
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/css/fullPage/common.css" />
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/css/fullPage/homePage.css" />
	<link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/css/fullPage/font/iconfont.css"/>
	<link rel="stylesheet" href="${request.contextPath}/statics/css/fullPage/zoom-marker.css">
</head>

<body>
<div class="bgDiv"></div>
<div id="box">
	<header>
		<img width="" src="${request.contextPath}/statics/css/fullPage/img/logo.png" />
		<span class="titleHeader">
					长子县智慧农业监控数据中心
				</span>
		<div class="rightHeader">
			<img class="security1" width="60px" src="${request.contextPath}/statics/css/fullPage/img/titleI.png" />
			<span class="time">{{data}}<br />{{time}}</span>
		</div>
	</header>
	<section>
		<!--添加新区域要将parkId传值-->
		<div class="middle">
			<div class="bottom">
				<div @click="to('index1',1)">
					<h3>园区1</h3>
					<img class="leftTop" src="${request.contextPath}/statics/css/fullPage/img/leftTop.png" />
					<img class="leftBottom" src="${request.contextPath}/statics/css/fullPage/img/leftBottom.png" />
					<img class="rightTop" src="${request.contextPath}/statics/css/fullPage/img/rightTop.png" />
					<img class="rightBottom" src="${request.contextPath}/statics/css/fullPage/img/rightBottom.png" />
					<div>
						<img class="imgBg" src="${request.contextPath}/statics/img/1595301032060.jpg" />
					</div>
				</div>
				<div @click="to('index1',2)">
					<h3>园区2</h3>
					<img class="leftTop" src="${request.contextPath}/statics/css/fullPage/img/leftTop.png" />
					<img class="leftBottom" src="${request.contextPath}/statics/css/fullPage/img/leftBottom.png" />
					<img class="rightTop" src="${request.contextPath}/statics/css/fullPage/img/rightTop.png" />
					<img class="rightBottom" src="${request.contextPath}/statics/css/fullPage/img/rightBottom.png" />
					<!--<img class="imgBg" src="${request.contextPath}/statics/img/1595301032060.jpg" />-->
					<div>
						<img class="imgBg" src="${request.contextPath}/statics/img/bb.jpg" />
					</div>
				</div>


			</div>
		</div>

	</section>
</div>
<script src="${request.contextPath}/statics/js/jquery-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="${request.contextPath}/statics/js/jquery.mousewheel.min.js"></script>
<script src="${request.contextPath}/statics/js/hammer.min.js"></script>
<script src="${request.contextPath}/statics/js/fullPage/zoom-marker.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="${request.contextPath}/statics/js/element.min.js" type="text/javascript" charset="utf-8"></script>

<script src="${request.contextPath}/statics/js/fullPage/echarts.min.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="js/timepeople.js" type="text/javascript" charset="utf-8"></script>-->
<script src="${request.contextPath}/statics/js/fullPage/chart.js" type="text/javascript" charset="utf-8"></script>

<script src="${request.contextPath}/statics/js/fullPage/homePage.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>