<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>智慧农业</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/layui.css" media="all">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/admin.css" media="all">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/common.css" media="all">
    <style>
        cite{
            /*display:none;*/
        }
        .layui-badge-dot1{
            display: inline-block;
            position: absolute;
            top:50%;
            left:0;
            width: 18px;
            height: 18px;
            background: #FF5722;
            margin-top: -15px!important;
            margin-left: 31px;
            text-align: center;
            line-height: 18px;
            font-size: 10px;
            color: #fff;
            border-radius: 50%;
        }

    </style>
    <script>
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
    </script>
</head>

<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                <!--<a href="http://www.layui.com/admin/" target="_blank" title="前台">-->
                <!--<i class="layui-icon layui-icon-website"></i>-->
                <!--</a>-->
                <!--</li>-->
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                <!--<input type="text" placeholder="搜索..." autocomplete="off" class="layui-input layui-input-search" layadmin-event="serach" lay-action="template/search.html?keywords=">-->
                <!--</li>-->
            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

                <!--<li class="layui-nav-item" lay-unselect>-->
                    <!--<a lay-href="modules/sys/inform.html" layadmin-event="message" lay-text="通知中心">-->
                        <!--<i class="layui-icon layui-icon-notice"></i>-->

                        <!--&lt;!&ndash; 如果有新消息，则显示小圆点 &ndash;&gt;-->
                        <!--<span v-if="informNum != ''" class="layui-badge-dot1">{{informNum}}</span>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                    <!--<a href="javascript:;" layadmin-event="theme">-->
                        <!--<i class="layui-icon layui-icon-theme"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                <!--<a href="javascript:;" layadmin-event="note">-->
                <!--<i class="layui-icon layui-icon-note"></i>-->
                <!--</a>-->
                <!--</li>-->
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" @click="setCanshu">
                        参数设置
                    </a>
                </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="modules/fullPage/index.html" target="_blank">
                        <!--<a href="${request.contextPath}/templates/modules/fullPage/index.html" target="_blank">-->
                            大数据展示
                        </a>
                        <!--<button class="layui-btn layui-btn-normal layui-btn-radius" @click="synchronize">同步信息</button class="layui-btn layui-btn-normal">-->
                    </li>
                    <li class="layui-nav-item layui-hide-xs" lay-unselect>
                        <a href="javascript:;">
                            <i class="layui-icon layui-icon-refresh" @click="synchronize"></i>
                        </a>
                        <!--<button class="layui-btn layui-btn-normal layui-btn-radius" @click="synchronize">同步信息</button class="layui-btn layui-btn-normal">-->
                    </li>
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;">
                            <cite>{{user.displayName}}</cite>
                        </a>
                        <dl class="layui-nav-child">

                            <dd>
                                <a class="passwordLayer">修改密码</a>
                                <!--<a lay-href="set/user/password.html">修改密码</a>-->
                        </dd>
                        <hr>
                        <dd style="text-align: center;">
                            <a href="logout">安全退出</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item" style="width: 10px">
                </li>
                <!--<li class="layui-nav-item layui-hide-xs" lay-unselect>-->
                <!--<a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>-->
                <!--</li>-->
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
                    <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="layui-side-scroll">
                <div class="layui-logo" lay-href="home/console.html">
                    <span style="font-weight: bold    ">
                        <img src="${request.contextPath}/statics/img/logo.png" alt="">
                        <!--智慧农业-->
                    </span>
                </div>

                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">

                    <!--<li data-name="home" class="layui-nav-item">-->
                    <!--<template v-if="menuList.length>=1">-->
                    <!--<a href="javascript:;" :lay-tips="menuList[0].name" lay-direction="2">-->
                    <!--<i :class="menuList[0].icon"></i>-->
                    <!--<cite>{{menuList[0].name}}</cite>-->
                    <!--</a>-->
                    <!--<dl class="layui-nav-child">-->
                    <!--<dd v-for="list in menuList[0].list" :data-name="list.name" class="">-->
                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                    <!--</dd>-->
                    <!--</dl>-->
                    <!--</template>-->
                    <!--</li>-->
                    <li data-name="home" class="layui-nav-item">
                        <a href="javascript:;" lay-direction="2">
                            <template v-if="menuList.length>=1">
                                <i :class="menuList[0].icon"></i>
                                <cite>{{menuList[0].name}}</cite>
                            </template>
                        </a>
                        <dl class="layui-nav-child">
                            <template v-if="menuList.length>=1">
                                <dd v-for="list in menuList[0].list" :data-name="list.name" class="">
                                    <a :lay-href="list.url">{{ list.name }}</a>
                                </dd>
                            </template>
                        </dl>
                    </li>
                    <li data-name="home" class="layui-nav-item">
                        <a href="javascript:;" lay-direction="2">
                            <template v-if="menuList.length>=2">
                                <i :class="menuList[1].icon"></i>
                                <cite>{{menuList[1].name}}</cite>
                            </template>
                        </a>
                        <dl class="layui-nav-child">
                            <template v-if="menuList.length>=2">
                                <dd v-for="list in menuList[1].list" :data-name="list.name" class="">
                                    <a :lay-href="list.url">{{ list.name }}</a>
                                </dd>
                            </template>
                        </dl>
                    </li>
                    <li data-name="home" class="layui-nav-item">
                        <a href="javascript:;" lay-direction="2">
                            <template v-if="menuList.length>=3">
                                <i :class="menuList[2].icon"></i>
                                <cite>{{menuList[2].name}}</cite>
                            </template>
                        </a>
                        <dl class="layui-nav-child">
                            <template v-if="menuList.length>=3">
                                <dd v-for="list in menuList[2].list" :data-name="list.name" class="">
                                    <a :lay-href="list.url">{{ list.name }}</a>
                                </dd>
                            </template>
                        </dl>
                    </li>
                    <!--<li data-name="home" class="layui-nav-item">-->
                        <!--<a href="javascript:;" lay-direction="2">-->
                            <!--<template v-if="menuList.length>=4">-->
                                <!--<i :class="menuList[3].icon"></i>-->
                                <!--<cite>{{menuList[3].name}}</cite>-->
                            <!--</template>-->
                        <!--</a>-->
                        <!--<dl class="layui-nav-child">-->
                            <!--<template v-if="menuList.length>=4">-->
                                <!--<dd v-for="list in menuList[3].list" :data-name="list.name" class="">-->
                                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                                <!--</dd>-->
                            <!--</template>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                        <!--<a href="javascript:;" lay-direction="2">-->
                            <!--<template v-if="menuList.length>=5">-->
                                <!--<i :class="menuList[4].icon"></i>-->
                                <!--<cite>{{menuList[4].name}}</cite>-->
                            <!--</template>-->
                        <!--</a>-->
                        <!--<dl class="layui-nav-child">-->
                            <!--<template v-if="menuList.length>=5">-->
                                <!--<dd v-for="list in menuList[4].list" :data-name="list.name" class="">-->
                                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                                <!--</dd>-->
                            <!--</template>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                        <!--<a href="javascript:;" lay-direction="2">-->
                            <!--<template v-if="menuList.length>=6">-->
                                <!--<i :class="menuList[5].icon"></i>-->
                                <!--<cite>{{menuList[5].name}}</cite>-->
                            <!--</template>-->
                        <!--</a>-->
                        <!--<dl class="layui-nav-child">-->
                            <!--<template v-if="menuList.length>=6">-->
                                <!--<dd v-for="list in menuList[5].list" :data-name="list.name" class="">-->
                                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                                <!--</dd>-->
                            <!--</template>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                        <!--<a href="javascript:;" lay-direction="2">-->
                            <!--<template v-if="menuList.length>=7">-->
                                <!--<i :class="menuList[6].icon"></i>-->
                                <!--<cite>{{menuList[6].name}}</cite>-->
                            <!--</template>-->
                        <!--</a>-->
                        <!--<dl class="layui-nav-child">-->
                            <!--<template v-if="menuList.length>=7">-->
                                <!--<dd v-for="list in menuList[6].list" :data-name="list.name" class="">-->
                                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                                <!--</dd>-->
                            <!--</template>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                        <!--<a href="javascript:;" lay-direction="2">-->
                            <!--<template v-if="menuList.length>=8">-->
                                <!--<i :class="menuList[7].icon"></i>-->
                                <!--<cite>{{menuList[7].name}}</cite>-->
                            <!--</template>-->
                        <!--</a>-->
                        <!--<dl class="layui-nav-child">-->
                            <!--<template v-if="menuList.length>=8">-->
                                <!--<dd v-for="list in menuList[7].list" :data-name="list.name" class="">-->
                                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                                <!--</dd>-->
                            <!--</template>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                        <!--<a href="javascript:;" lay-direction="2">-->
                            <!--<template v-if="menuList.length>=9">-->
                                <!--<i :class="menuList[8].icon"></i>-->
                                <!--<cite>{{menuList[8].name}}</cite>-->
                            <!--</template>-->
                        <!--</a>-->
                        <!--<dl class="layui-nav-child">-->
                            <!--<template v-if="menuList.length>=9">-->
                                <!--<dd v-for="list in menuList[8].list" :data-name="list.name" class="">-->
                                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                                <!--</dd>-->
                            <!--</template>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                        <!--<a href="javascript:;" lay-direction="2">-->
                            <!--<template v-if="menuList.length>=10">-->
                                <!--<i :class="menuList[9].icon"></i>-->
                                <!--<cite>{{menuList[9].name}}</cite>-->
                            <!--</template>-->
                        <!--</a>-->
                        <!--<dl class="layui-nav-child">-->
                            <!--<template v-if="menuList.length>=10">-->
                                <!--<dd v-for="list in menuList[9].list" :data-name="list.name" class="">-->
                                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                                <!--</dd>-->
                            <!--</template>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                        <!--<a href="javascript:;" lay-direction="2">-->
                            <!--<template v-if="menuList.length>=11">-->
                                <!--<i :class="menuList[10].icon"></i>-->
                                <!--<cite>{{menuList[10].name}}</cite>-->
                            <!--</template>-->
                        <!--</a>-->
                        <!--<dl class="layui-nav-child">-->
                            <!--<template v-if="menuList.length>=11">-->
                                <!--<dd v-for="list in menuList[10].list" :data-name="list.name" class="">-->
                                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                                <!--</dd>-->
                            <!--</template>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                        <!--<a href="javascript:;" lay-direction="2">-->
                            <!--<template v-if="menuList.length>=12">-->
                                <!--<i :class="menuList[11].icon"></i>-->
                                <!--<cite>{{menuList[11].name}}</cite>-->
                            <!--</template>-->
                        <!--</a>-->
                        <!--<dl class="layui-nav-child">-->
                            <!--<template v-if="menuList.length>=12">-->
                                <!--<dd v-for="list in menuList[11].list" :data-name="list.name" class="">-->
                                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                                <!--</dd>-->
                            <!--</template>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                        <!--<a href="javascript:;" lay-direction="2">-->
                            <!--<template v-if="menuList.length>=13">-->
                                <!--<i :class="menuList[12].icon"></i>-->
                                <!--<cite>{{menuList[12].name}}</cite>-->
                            <!--</template>-->
                        <!--</a>-->
                        <!--<dl class="layui-nav-child">-->
                            <!--<template v-if="menuList.length>=13">-->
                                <!--<dd v-for="list in menuList[12].list" :data-name="list.name" class="">-->
                                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                                <!--</dd>-->
                            <!--</template>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                        <!--<a href="javascript:;" lay-direction="2">-->
                            <!--<template v-if="menuList.length>=14">-->
                                <!--<i :class="menuList[13].icon"></i>-->
                                <!--<cite>{{menuList[13].name}}</cite>-->
                            <!--</template>-->
                        <!--</a>-->
                        <!--<dl class="layui-nav-child">-->
                            <!--<template v-if="menuList.length>=14">-->
                                <!--<dd v-for="list in menuList[13].list" :data-name="list.name" class="">-->
                                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                                <!--</dd>-->
                            <!--</template>-->
                        <!--</dl>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                    <!--<a href="javascript:;" lay-direction="2">-->
                    <!--<template v-if="menuList.length>=8">-->
                    <!--<i :class="menuList[7].icon"></i>-->
                    <!--<cite>{{menuList[1].name}}</cite>-->
                    <!--</template>-->
                    <!--</a>-->
                    <!--<dl class="layui-nav-child">-->
                    <!--<template v-if="menuList.length>=8">-->
                    <!--<dd v-for="list in menuList[7].list" :data-name="list.name" class="">-->
                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                    <!--</dd>-->
                    <!--</template>-->
                    <!--</dl>-->
                    <!--</li>-->

                    <!--<li data-name="home" class="layui-nav-item">-->
                    <!--<template v-if="menuList.length>=3">-->
                    <!--<a href="javascript:;" :lay-tips="menuList[2].name" lay-direction="2">-->
                    <!--<i :class="menuList[2].icon"></i>-->
                    <!--<cite>{{menuList[2].name}}</cite>-->
                    <!--</a>-->
                    <!--<dl class="layui-nav-child">-->
                    <!--<dd v-for="list in menuList[2].list" :data-name="list.name" class="">-->
                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                    <!--</dd>-->
                    <!--</dl>-->
                    <!--</template>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                    <!--<template v-if="menuList.length>=4">-->
                    <!--<a href="javascript:;" :lay-tips="menuList[3].name" lay-direction="2">-->
                    <!--<i :class="menuList[3].icon"></i>-->
                    <!--<cite>{{menuList[3].name}}</cite>-->
                    <!--</a>-->
                    <!--<dl class="layui-nav-child">-->
                    <!--<dd v-for="list in menuList[3].list" :data-name="list.name" class="">-->
                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                    <!--</dd>-->
                    <!--</dl>-->
                    <!--</template>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                    <!--<template v-if="menuList.length>=5">-->
                    <!--<a href="javascript:;" :lay-tips="menuList[4].name" lay-direction="2">-->
                    <!--<i :class="menuList[4].icon"></i>-->
                    <!--<cite>{{menuList[4].name}}</cite>-->
                    <!--</a>-->
                    <!--<dl class="layui-nav-child">-->
                    <!--<dd v-for="list in menuList[4].list" :data-name="list.name" class="">-->
                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                    <!--</dd>-->
                    <!--</dl>-->
                    <!--</template>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                    <!--<template v-if="menuList.length>=6">-->
                    <!--<a href="javascript:;" :lay-tips="menuList[5].name" lay-direction="2">-->
                    <!--<i :class="menuList[5].icon"></i>-->
                    <!--<cite>{{menuList[5].name}}</cite>-->
                    <!--</a>-->
                    <!--<dl class="layui-nav-child">-->
                    <!--<dd v-for="list in menuList[5].list" :data-name="list.name" class="">-->
                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                    <!--</dd>-->
                    <!--</dl>-->
                    <!--</template>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                    <!--<template v-if="menuList.length>=7">-->
                    <!--<a href="javascript:;" :lay-tips="menuList[6].name" lay-direction="2">-->
                    <!--<i :class="menuList[6].icon"></i>-->
                    <!--<cite>{{menuList[6].name}}</cite>-->
                    <!--</a>-->
                    <!--<dl class="layui-nav-child">-->
                    <!--<dd v-for="list in menuList[6].list" :data-name="list.name" class="">-->
                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                    <!--</dd>-->
                    <!--</dl>-->
                    <!--</template>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                    <!--<template v-if="menuList.length>=8">-->
                    <!--<a href="javascript:;" :lay-tips="menuList[7].name" lay-direction="2">-->
                    <!--<i :class="menuList[7].icon"></i>-->
                    <!--<cite>{{menuList[7].name}}</cite>-->
                    <!--</a>-->
                    <!--<dl class="layui-nav-child">-->
                    <!--<dd v-for="list in menuList[7].list" :data-name="list.name" class="">-->
                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                    <!--</dd>-->
                    <!--</dl>-->
                    <!--</template>-->
                    <!--</li>-->
                    <!--<li data-name="home" class="layui-nav-item">-->
                    <!--<a href="javascript:;" lay-direction="2">-->
                    <!--<template v-if="menuList.length>=5">-->
                    <!--<i :class="menuList[4].icon"></i>-->
                    <!--<cite>{{menuList[4].name}}</cite>-->
                    <!--</template>-->
                    <!--</a>-->
                    <!--<dl class="layui-nav-child">-->
                    <!--<template v-if="menuList.length>=5">-->
                    <!--<dd v-for="list in menuList[4].list" :data-name="list.name" class="">-->
                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                    <!--</dd>-->
                    <!--</template>-->
                    <!--</dl>-->
                    <!--</li>-->



                    <!--<li v-for="item in menuList" data-name="home" class="layui-nav-item">-->
                    <!--<a href="javascript:;" :lay-tips="item.name" lay-direction="2">-->
                    <!--<i :class="item.icon"></i>-->
                    <!--<cite>{{item.name}}</cite>-->
                    <!--</a>-->
                    <!--<dl class="layui-nav-child">-->
                    <!--<dd v-for="list in item.list" :data-name="list.name" class="">-->
                    <!--<a :lay-href="list.url">{{ list.name }}</a>-->
                    <!--</dd>-->
                    <!--</dl>-->
                    <!--</li>-->

                    <!-- vue生成的菜单 -->
                    <!--<menu-item :item="item" v-for="item in menuList"></menu-item>-->

                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <div class="layadmin-pagetabs" id="LAY_app_tabs">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-more-vertical">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs">
                                <a href="javascript:;">关闭当前标签页</a>
                            </dd>
                            <dd layadmin-event="closeOtherTabs">
                                <a href="javascript:;">关闭其它标签页</a>
                            </dd>
                            <dd layadmin-event="closeAllTabs">
                                <a href="javascript:;">关闭全部标签页</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="home/console.html" lay-attr="home/console.html" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>

        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe :src="main" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>

    <div id="passwordLayer" class="tankuang" style="display: none">
        <h3>修改密码</h3>
        <p>
            <label for="">账户：</label>
            <span class="label label-success" style="vertical-align: bottom;">{{user.username}}</span>
        </p>
        <p>
            <label for="">原密码：</label>
            <input type="password" v-model="password" placeholder="原密码">
        </p>
        <p>
            <label for="">新密码：</label>
            <input type="password" v-model="newPassword" placeholder="新密码" @keyup="chanPassword">
            <br>
            <span style="color: rgb(254, 128, 96); font-size: 13px; height: 20px; margin-top: 4px;">{{erroMsg4}}</span>
        </p>
    </div>
    <div id="setParameter" class="tankuang" style="display: none">
        <h3>设置参数</h3>
        <p>
            <label for="">高温预警：</label>
            <input type="text" v-model="hightTem" placeholder="高温设置">
        </p>
        <!--<p>-->
            <!--<label for="">原密码：</label>-->
            <!--<input type="password" v-model="password" placeholder="原密码">-->
        <!--</p>-->
        <!--<p>-->
            <!--<label for="">新密码：</label>-->
            <!--<input type="password" v-model="newPassword" placeholder="新密码" @keyup="chanPassword">-->
            <!--<br>-->
            <!--<span style="color: rgb(254, 128, 96); font-size: 13px; height: 20px; margin-top: 4px;">{{erroMsg4}}</span>-->
        <!--</p>-->
    </div>
</div>



<script type="text/javascript" src="${request.contextPath}/statics/libs/jquery.min.js"></script>

<script type="text/javascript" src="${request.contextPath}/statics/libs/vue.min.js"></script>

<script type="text/javascript" src="${request.contextPath}/statics/js/index.js"></script>
<script src="${request.contextPath}/statics/js/layui.js"></script>

<script>
    layui.config({
        base: '${request.contextPath}/statics/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');
</script>

<!-- 百度统计 -->
<script>
    // var _hmt = _hmt || [];
    // (function() {
    //     var hm = document.createElement("script");
    //     hm.src = "https://hm.baidu.com/hm.js?d214947968792b839fd669a4decaaffc";
    //     var s = document.getElementsByTagName("script")[0];
    //     s.parentNode.insertBefore(hm, s);
    // })();
</script>
</body>

</html>