<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
    <meta http-equiv="Cache-Control" content="max-age=259200, must-revalidate">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="googlebot" content="archive">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>智慧农业</title>
    <!-- 主引导-->
    <link rel="stylesheet" href="${request.contextPath}/statics/css/stylesheets/normalize-min.css">
    <!--<link rel="stylesheet" href="stylesheets/pace.css">-->
    <link rel="stylesheet" href="${request.contextPath}/statics/css/stylesheets/main.css">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/element.min.css">
</head>

<body>

<div id="rrapp" class="page-wrapper page" style="">

    <div class="container">

        <div class="center">

            <div class="planet-big centered">
                <!-- 第一屏动画 -->
                <span class="round round-1"></span>
                <span class="round round-2"></span>
                <span class="round round-3"></span>
                <span class="round round-4"></span>
                <span class="round round-5"></span>

            </div>

            <div class="planet-big-content centered screen-1">
                <h2>
                    智慧农业
                    <!--<p style="font-size:16px;font-weight: normal;letter-spacing: 1.5px;margin-bottom: 30px;">བོད་རང་སྐྱོང་ལྗོངས་ཀྱི་འཕྲིན་གཏོང་དོ་དམ་ཅུས།</p>-->
                    <!--<span class="title-cursive">一周年盛大活动</span>-->
                </h2>
                <div v-if="error">
                    <h4 style="margin-bottom: 0px;color: #F56C6C;"> {{errorMsg}}</h4>
                </div>
                <div class="username form_group_btn">
                    <el-select v-model="value" placeholder="请选择" style="width: 100%;">
                        <el-option
                                v-for="item in options"
                                :key="item.parkId"
                                :label="item.parkName"
                                :value="item.parkId">
                        </el-option>
                    </el-select>
                    <!--<input type="text" class="form-control" v-model="username" placeholder="账号">-->
                    <!--<span class="glyphicon glyphicon-user form-control-feedback"></span>-->
                </div>
                <div v-if="value!=''" class="username form_group_btn">
                    <!--<input type="text" placeholder="请输入用户名" />-->
                    <input type="text" class="form-control" v-model="username" placeholder="账号">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div v-if="value!=''" class="password form_group_btn">
                    <!--<input type="password" placeholder="请输入密码" />-->
                    <input type="password" class="form-control" v-model="password" @keyup.enter="login" placeholder="密码">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <!--<div class="password_j form_group_btn">-->
                    <!--<input type="checkbox" /> <span style="color: #eee;">记住密码？</span>-->
                <!--</div>-->
                <div class="login form_group_btn">
                    <button :disabled="value==''" @click="login">登录</button>
                </div>
            </div>

        </div>
        <!-- end of center -->
    </div>
    <!-- end of container -->

</div>
<!-- end of page-wrapper -->


<script src="${request.contextPath}/statics/js/jquery-2.1.1.min.js"></script>
<script src="${request.contextPath}/statics/libs/vue.min.js"></script>
<script src="${request.contextPath}/statics/js/element.min.js" type="text/javascript" charset="utf-8"></script>
<script src="${request.contextPath}/statics/js/fullpage.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(function(){
//				requestFullScreen();
//        $('button').click(function(){
//            requestFullScreen();
//        })
    })
</script>
<script type="text/javascript">
    var vm = new Vue({
        el:'#rrapp',
        data:{
            username: '',
            password: '',
            captcha: '',
            error: false,
            errorMsg: '',
            src: 'captcha.jpg',
            options:[],
            value:''
        },
        beforeCreate: function(){
            if(self != top){
                top.location.href = self.location.href;
            }
        },
        created:function () {
            this.getSelectList();
        },
        methods: {
            refreshCode: function(){
                this.src = "captcha.jpg?t=" + $.now();
            },
            login: function (event) {
                var data = "username="+vm.username+"&password="+vm.password+"&captcha="+vm.captcha+'&parkId='+vm.value;
                $.ajax({
                    type: "POST",
                    url: "sys/login",
                    data: data,
                    dataType: "json",
                    success: function(result){
                        if(result.code == 0){//登录成功
                            parent.location.href ='index.html';
                        }else if(result.code == 1){//登录成功
                            parent.location.href ='index.html';
//                            parent.location.href ='modules/fullPage/index.html';
                        }else{
                            vm.error = true;
                            vm.errorMsg = result.msg;

                            vm.refreshCode();
                        }
                    }
                });
            },
            getSelectList:function () {
                $.ajax({
                    type: "get",
                    url: "sys/syspark/getList",
                    data: '',
                    dataType: "json",
                    success: function(result){
                        if(result){//登录成功
                            vm.options = result;
                        }
                    }
                });
            }
        }
    });
</script>

</body>

</html>