<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!--<link rel="stylesheet" href="${request.contextPath}/statics/css/layui.css" media="all">-->
<link rel="stylesheet" href="${request.contextPath}/statics/css/element.min.css" media="all">
<link rel="stylesheet" href="${request.contextPath}/statics/css/common.css" media="all">
<script type="text/javascript" src="${request.contextPath}/statics/libs/jquery.min.js"></script>
<!--<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>-->
<!--<script src="${request.contextPath}/statics/js/layui.js"></script>-->
<script type="text/javascript" src="${request.contextPath}/statics/libs/vue.min.js"></script>
<!--<script type="text/javascript" src="${request.contextPath}/statics/js/element.min.js"></script>-->
